<%- include("./header.ejs") %>
<div class="carousel slide" data-bs-ride="carousel" id="s">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#s"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#s"
      data-bs-slide-to="1"
      class=""
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img
        src="	https://res.cloudinary.com/djdseaeua/image/upload/v1682605759/sliderImage/fvbumsxdelaomcmmfad3.jpg"
        class="w-100"
      />
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img
        src="https://res.cloudinary.com/djdseaeua/image/upload/v1682605719/sliderImage/pfttdnpxt9hmj3chnsqs.jpg"
        class="w-100"
      />
    </div>
  </div>
  <!--carousel inner end-->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#s"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#s"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h1 class="text-center why">
        <span>Why</span>
        Grievance Redressal System?
      </h1>
    </div>
  </div>
  <!--container end-->
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="whygreviance justify-content">
          The Grievance Redressal Cell has been developed to settle the
          grievances of the students and other stakeholders within a reasonable
          time period for further strengthening the bond of the students with
          the institution by providing them with all kind of facilities to a
          satisfaction level for maintaining a convenient ambience of academic
          teaching and learning. <br />
          Oréll believes that providing on time and competent service is
          essential not only to attract new customers, but also to retain
          existing ones. ITMGrievance, the revolutionary online grievance
          handling mechanism aims at minimising instances of complaints in
          professional
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png"
          class="w-100"
          alt=""
        />
      </div>
    </div>
    <!--row end-->
    <div class="row">
      <p class="whygreviance justify-content">
        colleges through effective tracking and monitoring of grievances
        ensuring prompt redressal. This portal for online registration and
        disposal of grievances help users obtain immediate response and
        resolution to their grievances from the institution itself
      </p>
    </div>
  </div>
  <!--container end-->
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center shadow-lg main">
        <div class="comborder">
          <a href=" " class="component">
            <i class="fa-solid fa-user"></i>
          </a>
          <h2>Student</h2>
          <p>Student can manage or view Their Grievance Here..</p>

          <button
            type="button"
            class="btn loginbt"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Login
          </button>

         
          <!-- <button data-bs-toggle="modal" data-bs-target="#login" type="button" class="btn loginbt">Login</button> -->
        </div>
      </div>
      <div class="col-md-4 text-center shadow-lg main">
        <div class="comborder">
          <a href=" " class="component">
            <i class="fa-solid fa-user-tie"></i>
          </a>
          <h2>Dean/Principal</h2>
          <p>This Section is Managed By the Dean/Principal of ITM University</p>

          <button
            type="button"
            class="btn loginbt"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Login
          </button>
        </div>
      </div>
      <div class="col-md-4 text-center shadow-lg main">
        <div class="comborder">
          <a href=" " class="component">
            <i class="fa-solid fa-chalkboard-user"></i>
          </a>
          <h2>Handler &amp; Admin</h2>
          <p>this Section is managed and view by the Grievance handler.</p>
          <button
          type="button"
          class="btn loginbt"
          data-bs-toggle="modal"
          data-bs-target="#example2"
        >
          Login
        </button>
        </div>
      </div>
    </div>
    <!--row end-->
  </div>
  <!--container- end-->
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="carousel slide" data-bs-ride="carousel" id="s">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="	https://res.cloudinary.com/djdseaeua/image/upload/v1682605759/sliderImage/fvbumsxdelaomcmmfad3.jpg"
            class="w-100"
          />
        </div>
      </div>
      <!--carousel inner end-->
    </div>
  </div>
</div>


 <!-- student Modal -->
 <div
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="exampleModalLabel">
         Student login
       </h1>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
       <form action="/verifyLogin" method="post">
         <div class="mb-3">
           <label for="">Enter email</label>
           <input
             type="email"
             class="form-control"
             placeholder="Enter email"
             name="email"
             id=""
             required
             
           />
         </div>

         <div class="mb-3">
           <label for="password">Password</label>
           <input
             type="password"
             class="form-control"
             placeholder="Password"
             name="password"
             
             required
             
           />
         </div>
         <center>
          <button type="submit" class="btn btn-primary">Submit</button>
        </center>
       </form>
     </div>

     
     <br /><br />
   </div>
 </div>
</div>

<!--modal Admin-->
 <!-- Modal -->
 <div
 class="modal fade"
 id="example2"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="exampleModalLabel">
         Admin login
       </h1>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
       <form action="/admin/verifyLogin" method="post">
         <div class="mb-3">
           <label for="">Enter email</label>
           <input
             type="email"
             class="form-control"
             placeholder="Enter email"
             name="email"
             id=""
             required
             
           />
         </div>

         <div class="mb-3">
           <label for="password">Password</label>
           <input
             type="password"
             class="form-control"
             placeholder="Password"
             name="password"
             
             required
             
           />
         </div>
         <center>
          <button type="submit" class="btn btn-primary">Submit</button>
        </center>
       <center> <a href="/admin/register">RegisterNow</a></center>
       </form>
     </div>

     
     <br /><br />
   </div>
 </div>
</div>

<%- include("./footer.ejs") %>
